*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content form{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(238, 236, 232);
    height: 240px;
    border: 1px solid black;
    box-shadow: 10px 10px 28px 10px rgb(207, 205, 205);
    border-radius: 5px;
}
form {
    padding: 10px 10px 10px;
    
}
form .red{
    height: 5vh;
    margin-top: 55px;
    cursor: pointer;
    border: none;
    background-color: rgb(206, 209, 212);
    letter-spacing: 2px;
    border-radius: 5px;
}
form input{
    border-radius: 1px;
    margin-top: 15px;
    height: 6vh;
    padding-left: 15px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    border: none;
    border-bottom: 1px solid black;  
    transition: all .3s ease-in-out;  
}

.content form h4{
    position: absolute;
    top: 54%;
    cursor: pointer;
}